node_modules
lib
scripts/*
!scripts/build-npm.sh
!scripts/check-package-content.js
!scripts/check-hot.js
!scripts/clean.sh
**/package-lock.json
!/package-lock.json
*.log
yarn-error.log
yarn-debug.log*
npm-debug.log*